<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>CMPS 415 Project</title>
    <style>

      h1{font size: 24px; text-align: left;}

    </style>
  </head>

  <body>

    <% include header.ejs %>

    <h1> Node.js Ticket System </h1>

  </body>

</html>
