<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>CMPS 415 Phase 1</title>
    <style>

      h1{font size: 24px; text-align: left;}
      ul{font size: 14px;}

    </style>
  </head>

  <body>

    <% include header.ejs %>

    <h1>Ticket #<%= output %> </h1>

    <ul>
        <ul>  </ul>
    </ul>

  </body>

</html>
